<!DOCTYPE html>
<html ng-app="routes">
<head>
	<title>Ejercicio 5</title>
	<script type="text/javascript" src="../angular.min.js"></script>
	<script type="text/javascript" src="../angular-route.min.js"></script>

	<script type="text/javascript">

		var app = angular.module('routes', ['ngRoute']);

		var route1Model = {	routeId: 1 },
			route2Model = { routeId: 2 },
			route3Model = { routeId: 3 };

		app.constant('AUTH_EVENTS', {
			loginSuccess: 'auth-login-success',
			loginFailed: 'auth-login-failed',
			logoutSuccess: 'auth-logout-success',
			sessionTimeout: 'auth-session-timeout',
			notAuthenticated: 'auth-not-authenticated',
			notAuthorized: 'auth-not-authorized'
		});

		app.constant('USER_ROLES', {
			all: '*',
			admin: 'admin',
			editor: 'editor',
			guest: 'guest'
		});

		app.service('loginService', function () {

			return {

				///
			}
			
		});

		app.service('dateService', function ($q, $http) {
			return {
				getDate: function () {
					var deferred = $q.defer();
					$http.get('/rest/date')
						.success(function (data) {
							deferred.resolve(data);
						})
						.error(function () {
							deferred.reject();
						});
					return deferred.promise;
				}				
			}			
		});

		var getDate = function ($q, dateService) {
			var deferred = $q.defer();
			dateService.getDate()
				.then(function (data) {
					deferred.resolve(data);
				}, function () {
					deferred.reject();
				});
			return deferred.promise;
		}

		app.config(['$routeProvider', function ($routeProvider) {

			$routeProvider
				.when('/route1/:from?', {
					templateUrl: 'routeView.html',
					controller: 'routeCtrl',
					resolve: {
						model: function () { return route1Model; },
						dateInfo: getDate
					} 
				})
				.when('/route2/:from?', {
					templateUrl: 'routeView.html',
					controller: 'routeCtrl',
					resolve: { 
						model: function () { return route2Model; },
						dateInfo: getDate
					} 
				})
				.when('/route3/:from?', {
					templateUrl: 'routeView.html',
					controller: 'routeCtrl',
					resolve: { 
						model: function () { return route3Model; },
						dateInfo: getDate
					} 
				})
				.otherwise({
					redirectTo: '/route1'
				});
			
		}]);

		app.controller('routeCtrl', function ($scope, $routeParams, model, dateInfo) {
			$scope.currentId = model.routeId;
			$scope.from = $routeParams.from;
			$scope.date = dateInfo.currentDate;
		});

		app.controller('mainCtrl', function ($scope, $route, $location, $rootScope) {

			$rootScope.$on('$routeChangeError', function () {
				$scope.date = 'ERROR!';
			});

			$scope.$route = $route;

			$scope.go = function (path) {
				var currentRoute = $location.path().split('/')[1];
				$location.path(path + '/' + currentRoute);
			}
		});

	</script>

</head>
<body>
	<div ng-controller="mainCtrl">
		Index
		<br />
		<button ng-click="go('route1')">Route 1</button>
		<button ng-click="go('route2')">Route 2</button>
		<button ng-click="go('route3')">Route 3</button>
	</div>	
	<div ng-view></div>
</body>
</html>