<!DOCTYPE html>
<html ng-app="routes">
<head>
	<title>Ejercicio 5 y 6</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/angular/angular.min.js"></script>
	<script type="text/javascript" src="/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/angular-cookies/angular-cookies.min.js"></script>

	<script type="text/javascript">

		var app = angular.module('routes', ['ngRoute', 'ngCookies']);

		var route1Model = {	routeId: 1 },
			route2Model = { routeId: 2 },
			route3Model = { routeId: 3 };

		app.constant('AUTH_EVENTS', {
			loginSuccess: 'auth-login-success',
			loginFailed: 'auth-login-failed',
			logoutSuccess: 'auth-logout-success',
			sessionTimeout: 'auth-session-timeout',
			notAuthenticated: 'auth-not-authenticated',
			notAuthorized: 'auth-not-authorized'
		});

		app.constant('USER_ROLES', {
			admin: 'admin',
			editor: 'editor',
			guest: 'guest'
		});

		app.service('userSession', function ($cookieStore) {
			return {
				create: function (userId, userRole) {
					$cookieStore.put('userId', userId);
					$cookieStore.put('userRole', userRole);
				},
				destroy: function () {
					$cookieStore.remove('userId');
					$cookieStore.remove('userRole');
				},
				get: function () {
					return {
						userId: $cookieStore.get('userId'),
						userRole: $cookieStore.get('userRole')
					}
				}
			}
		});

		app.service('loginService', function ($q, $http, userSession) {
			return {
				login: function (credentials) {
					var deferred = $q.defer();
					$http.post('/rest/login', credentials)
						.success(function (res) {
							if(res.username == credentials.user) {
								userSession.create(res.username, res.role);
								deferred.resolve();
							} else {
								deferred.reject(true);
							}
						})
						.error(function (res) {
							deferred.reject(false);
						});
					return deferred.promise;
				},
				logout: function () {
					userSession.destroy();
				},
				isAuthenticated: function () {
					return !!userSession.get().userId;
				},
				isAuthorized: function (roles) {
					if(!angular.isArray(roles)) {
						roles = [roles];
					}
					return this.isAuthenticated() && roles.indexOf(userSession.get().userRole) !== -1;
				},
				getUserInfo: function () {
					if(this.isAuthenticated()) {
						var result = {
							name: userSession.get().userId,
							role: userSession.get().userRole
						}
					} else {
						var result = null;
					}
					return result;
				}
			}
		});

		app.service('dateService', function ($q, $http) {
			return {
				getDate: function () {
					var deferred = $q.defer();
					$http.get('/rest/date')
						.success(function (data) {
							deferred.resolve(data);
						})
						.error(function () {
							deferred.reject();
						});
					return deferred.promise;
				}
			}
		});

		var getDate = function ($q, dateService) {
			var deferred = $q.defer();
			dateService.getDate()
				.then(function (data) {
					deferred.resolve(data);
				}, function () {
					deferred.reject();
				});
			return deferred.promise;
		}

		app.config(function ($routeProvider, USER_ROLES) {

			$routeProvider
				.when('/route1/:from?', {
					templateUrl: 'routeView.html',
					controller: 'routeCtrl',
					data: {
						authorizedRoles: [
							USER_ROLES.admin,
							USER_ROLES.editor,
							USER_ROLES.guest
						]
					},
					resolve: {
						model: function () { return route1Model; },
						dateInfo: getDate
					} 
				})
				.when('/route2/:from?', {
					templateUrl: 'routeView.html',
					controller: 'routeCtrl',
					data: {
						authorizedRoles: [
							USER_ROLES.admin,
							USER_ROLES.editor
						]
					},
					resolve: { 
						model: function () { return route2Model; },
						dateInfo: getDate
					} 
				})
				.when('/route3/:from?', {
					templateUrl: 'routeView.html',
					controller: 'routeCtrl',
					data: {
						authorizedRoles: [
							USER_ROLES.admin
						]
					},
					resolve: {
						model: function () { return route3Model; },
						dateInfo: getDate
					} 
				})
				.when('/login', {
					templateUrl: 'login.html',
					controller: 'loginCtrl'
				})
				.when('/noaccess', {
					template: 'Access Denied!'
				})
				.otherwise({
					redirectTo: '/route1'
				});
			
		});

		app.run(function ($rootScope, loginService, AUTH_EVENTS, $location) {
			$rootScope.$on('$routeChangeStart', function (event, next) {
				if(angular.isDefined(next.data)) {
					var authorizedRoles = next.data.authorizedRoles;
					if(angular.isDefined(authorizedRoles)) {
						if(loginService.isAuthenticated()) {
							if(!loginService.isAuthorized(authorizedRoles)) {
								$rootScope.$broadcast(AUTH_EVENTS.notAuthorized);
							}
						} else {
							$rootScope.$broadcast(AUTH_EVENTS.notAuthenticated);
						}
					}
				}
			});

			$rootScope.$on(AUTH_EVENTS.notAuthenticated, function () {
				$location.path('login');
			});

			$rootScope.$on(AUTH_EVENTS.notAuthorized, function () {
				$location.path('noaccess');
			});

			$rootScope.$on(AUTH_EVENTS.loginSuccess, function () {
				$location.path('route1');
			});

			$rootScope.$on(AUTH_EVENTS.logoutSuccess, function () {
				$location.path('login');
			});
		});

		app.controller('loginCtrl', function ($scope, $rootScope, loginService, AUTH_EVENTS) {
			$scope.login = function (credentials) {
				loginService.login(credentials)
					.then(function () {
						$rootScope.$broadcast(AUTH_EVENTS.loginSuccess);
					}, function (res) {
						$rootScope.$broadcast(AUTH_EVENTS.loginFailed, res);
					});
			};
			$rootScope.$on(AUTH_EVENTS.loginFailed, function (res) {
				$scope.logged = res ? "Invalid user or password..." : "Login failed...";
			});
		});

		app.controller('routeCtrl', function ($scope, $rootScope, $routeParams, model, dateInfo) {
			$scope.currentId = model.routeId;
			$scope.from = $routeParams.from;
			$scope.date = dateInfo.currentDate;
			$rootScope.$on('$routeChangeError', function () {
				$scope.date = 'ERROR!';
			});
		});

		app.controller('mainCtrl', function ($scope, $rootScope, $location, loginService, AUTH_EVENTS) {
			$scope.template = { nav: "nav.html" };
			$scope.isAuthenticated = loginService.isAuthenticated;
			$scope.userInfo = loginService.getUserInfo;

			$scope.go = function (path) {
				var currentRoute = $location.path().split('/')[1];
				$location.path(path + '/' + currentRoute);
			};

			$scope.logout = function () {
				loginService.logout();
				$rootScope.$broadcast(AUTH_EVENTS.logoutSuccess);
			};
		});

	</script>

</head>
<body ng-controller="mainCtrl">
	<div ng-if="isAuthenticated()" ng-include="template.nav"></div>
	<br />
	<div ng-view></div>
	<br />
	<a href="#" ng-if="isAuthenticated()" ng-click="logout()">Logout</a>
</body>
</html>