<h3>Put the URL of some images and they will be loaded in the carousel</h3>
<div class="col-md-6">
	<div ui-grid="gridOptions" ui-grid-edit ui-grid-selection></div>
	<br />
	<button class="btn btn-success" ng-click="add()">Add</button>
	<button class="btn btn-success" ng-click="remove()">Remove</button>
</div>
<div class="col-md-6">
	<carousel>
		<slide ng-repeat="img in imgs">
			<div>
				<h4>Image #{{$index + 1}}</h4>
				<p>{{img.url}}</p>
			</div>
			<img ng-src="{{img.url}}" align="middle">
		</slide>
	</carousel>
</div>