<!DOCTYPE html>
<html ng-app="promises">
<head>
	<title>Exercise 4</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/angular/angular.min.js"></script>

	<script type="text/javascript">

		var app = angular.module('promises', []);

		app.service('callerService', function ($http, $q) {
			
			return {

				arrayAdd: function (values) {
					
					var deferred = $q.defer()
						restCalls = [];

					angular.forEach(values, function (val) {
						restCalls.push($http.get('/rest/add/' + val.a + '/' + val.b));
					});

					$q.all(restCalls)
						.then(function (results) {
							deferred.resolve(results);
						}, function (errors) {
							deferred.reject(errors);
						});

					return deferred.promise;
				}

			};

		});

		app.controller('mainCtrl', function ($scope, callerService) {

			$scope.btnClick = function () {
				callerService.arrayAdd($scope.nums)
					.then(function (results) {
						$scope.results = results;
					}, function (errors) {
						$scope.results = errors;
					});
			};

		});

	</script>
</head>
<body ng-controller="mainCtrl">
<br />
	<div class="col-md-6 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				Put numbers in the fields and press Add!<br />
				Results will be calculated by a REST service using an array of promises
			</div>
			<div class="panel-body">
				<div class="col-md-8">
					<div class="form-group">
						<input type="text" ng-model="nums[0].a" size="4" />
						+
						<input type="text" ng-model="nums[0].b" size="4" />
					</div>
					<div class="form-group">
						<input type="text" ng-model="nums[1].a" size="4" />
						+
						<input type="text" ng-model="nums[1].b" size="4" />
					</div>
					<div class="form-group">
						<input type="text" ng-model="nums[2].a" size="4" />
						+
						<input type="text" ng-model="nums[2].b" size="4" />
					</div>
					<div class="form-group">
						<input type="text" ng-model="nums[3].a" size="4" />
						+
						<input type="text" ng-model="nums[3].b" size="4" />
					</div>
					<div class="form-group">
						<input type="text" ng-model="nums[4].a" size="4" />
						+
						<input type="text" ng-model="nums[4].b" size="4" />
					</div>
				</div>
				<div class="col-md-6">
					<div ng-repeat="res in results">
						<div class="form-group">
							=
							<input type="text" value="{{res.data.result}}" size="4" readonly="true" />
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<button class="btn btn-success" ng-click="btnClick()">Add!</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>