<!DOCTYPE html>
<html ng-app="parsers">
<head>
	<title>Ejercicio 2</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/angular/angular.min.js"></script>

	<script type="text/javascript">

		var app = angular.module('parsers', []);

		var isCurrency = function (num) {
			return /^\$\d+(\.\d*)?$/g.test(num);
		}, isPercentage = function (num) {
			return /^\d+(\.\d*)?%$/g.test(num);
		}, getNumber = function (num) {
			return parseFloat(num.match(/\d+(\.\d*)?/g));
		};

		app.directive('unitSelector', function () {

			var tpl =  "<div> \
							<input type='text' ng-model='num' /> \
							<select ng-model='type'> \
								<option value='percent'>Percent</option> \
								<option value='money'>Money</option> \
								<option value='unknown'>Unknown</option> \
							</select> \
						</div>";

			return {
				restrict: "E",
				template: tpl,
				require: "^ngModel",
				replace: true,
				link: function(scope, element, attrs, ngModelCtrl) {
					
					ngModelCtrl.$parsers.push(function (viewValue) {

						if(isCurrency(viewValue)) {
							scope.type = "money";
						} else if(isPercentage(viewValue)) {
							scope.type = "percent";
						} else {
							scope.type = "unknown";
						}

						var val = angular.isDefined(viewValue) && (!isNaN(viewValue) || scope.type != "unknown") ?
									getNumber(viewValue).toFixed(4) : 0;

						return val;
					});

					scope.$watch("num" ,function () {
						ngModelCtrl.$setViewValue(scope.num);
					});

					scope.$watch("type", function () {
						
						var val = parseFloat(ngModelCtrl.$modelValue);

						if(angular.isDefined(val)) {					
							if(scope.type == "money") {
								scope.num = "$" + val;
							} else if(scope.type == "percent") {
								scope.num = val + "%";
							}	
						}
						
					});
				}
			}

		});

	</script>
</head>
<body>

	<unit-selector ng-model="data"></unit-selector>
	<br /><br />
	Model:<br />
	{{data}}

</body>
</html>