<!DOCTYPE html>
<html ng-app="parsers">
<head>
	<title>Exercise 2</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/angular/angular.min.js"></script>

	<script type="text/javascript">

		var app = angular.module('parsers', []);

		var isCurrency = function (num) {
			return /^\$\d+(\.\d*)?$/g.test(num);
		}, isPercentage = function (num) {
			return /^\d+(\.\d*)?%$/g.test(num);
		}, getNumber = function (num) {
			return parseFloat(num.match(/\d+(\.\d*)?/g));
		};

		app.directive('unitSelector', function () {

			var tpl =  "<form> \
							<div class='form-group'> \
								<label for='num'>Value:</label> \
								<input type='text' id='num' class='form-control' ng-model='num' /> \
							</div> \
							<div class='form-group'> \
								<label for='type'>Type:</label> \
								<select id='type' class='form-control' ng-model='type'> \
									<option value='percent'>Percent</option> \
									<option value='money'>Money</option> \
									<option value='unknown'>Unknown</option> \
								</select> \
							</div> \
						</form>";

			return {
				restrict: "E",
				template: tpl,
				require: "^ngModel",
				replace: true,
				link: function(scope, element, attrs, ngModelCtrl) {
					
					ngModelCtrl.$parsers.push(function (viewValue) {

						if(isCurrency(viewValue)) {
							scope.type = "money";
						} else if(isPercentage(viewValue)) {
							scope.type = "percent";
						} else {
							scope.type = "unknown";
						}

						var val = angular.isDefined(viewValue) && (!isNaN(viewValue) || scope.type != "unknown") ?
									getNumber(viewValue).toFixed(4) : 0;

						return val;
					});

					scope.$watch("num" ,function () {
						ngModelCtrl.$setViewValue(scope.num);
					});

					scope.$watch("type", function () {
						
						var val = parseFloat(ngModelCtrl.$modelValue);

						if(angular.isDefined(val)) {
							if(scope.type == "money") {
								scope.num = "$" + val;
							} else if(scope.type == "percent") {
								scope.num = val + "%";
							}	
						}
						
					});
				}
			}

		});

	</script>
</head>
<body>
	<br /><br />
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					<unit-selector ng-model="data"></unit-selector>
					<br /><br />
					<h4>Model: {{data}}</h4>
				</div>
			</div>
		</div>
	</div>
</body>
</html>