<!DOCTYPE html>
<html ng-app="events">
<head>
	<title>Ejercicio 3</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/angular/angular.min.js"></script>

	<script type="text/javascript">

		var app = angular.module('events', []);

		app.controller('mainCtrl', function ($scope) {
			$scope.$on('testEvent', function (evt, newVal, oldVal) {
				$scope.$broadcast('testEvent2', newVal, oldVal);
			});
		});

		app.controller('childOneCtrl', function ($scope) {

			$scope.btnclick = function () {
				$scope.modelUser = angular.copy($scope.user);
			};

			$scope.$watch('modelUser', function (newVal, oldVal) {
				$scope.$emit('testEvent', newVal, oldVal);
			});

		});

		app.controller('childTwoCtrl', function ($scope) {
			$scope.$on('testEvent2', function (evt, newVal, oldVal) {
				$scope.model = newVal;
			});
		});

	</script>

</head>
<body>

	<br /><br />
	<div ng-controller="mainCtrl">

		<div ng-controller="childOneCtrl" class="row">
			<div class="col-md-4 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">Child Controller 1</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="text" id="name" class="form-control" ng-model="user.name" />
						</div>
						<div class="form-group">
							<label for="name">Surname:</label>
							<input type="text" id="surname" class="form-control" ng-model="user.surname" />
						</div>
						<button class="btn btn-success" ng-click="btnclick()">Fire event!</button>
					</div>
				</div>
			</div>
		</div>

		<div ng-controller="childTwoCtrl" class="row">
			<div class="col-md-4 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">Child Controller 2</div>
					<div class="panel-body">
						<h4>Model: {{model}}</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>